* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    grid-column: 1/12;
    text-align: center;
}
.header {
    grid-column: 1/12;
    display: flex;
    justify-content: space-between;
}

.statusBoxes{
    display: grid;
    grid-template-rows: repeat(1, 25px);
    grid-template-columns: repeat(5,25px);
    grid-gap: 3px;
}

.statusBox {
    background-color: white;
    border: 3px solid black;
}

.computer {
    display: grid;
    grid-template-rows: repeat(11, 40px);
    grid-template-columns: repeat(11,40px);
    margin: 0 auto;
    height: 520px;
}

.player {
    display: grid;
    grid-template-rows: repeat(11, 40px);
    grid-template-columns: repeat(11,40px);
    margin: 0 auto;
    height: 520px;
}

.player > div:not(.header), .computer > div:not(.header) {
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.gridTitle {
    background-color: darkgray !important;
}

.info {
    width: 20vw;
    text-align: center;
}

button {
    background-color: rgb(255, 77, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color:white;
    font-size: 26px;
    margin: 0 auto;
    display: block;
    border: 1px solid blue;
}

#playerships, #playagainbtn, #gameover {
    display:none;
}

ul {
    list-style: none;
    font-size: 2em;
}

li {
    border: 1px solid white;
    background-color: black;
    color: white;
    margin: 5px 0;
}

#begin, #gameover {
    font-size: 36px;
    color: blue;
    margin-top:50px;    
}

.begin {
    display:none;
}

#statusBoxC1, #statusBoxC2,#statusBoxC3,#statusBoxC4,#statusBoxC5 {
    background-color: blue;
}

p {
    font-size: 20px;
}